<div class="wrapper display-center">
  <div class="container">
    <div class="domenech">
      <h1>Here is your goddamn answer</h1>
      <p><%= @answer %></p>
      <div class="link">
        <%= link_to "Ask another question", "/ask" %>
      </div>
    </div>
  </div>
</div>
